body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 32px 28px 28px;
    background: #ffe01b;
    transition: 0.5s;
}
.header:hover{
    background: #fff;
}
.nav-left-content{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.nav-right-content{
    display: flex;
    align-items: center;
}
.nav-left-content li{
    padding: 10px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}
.nav-left-content li:hover{
    color: #007c89;
    text-decoration: underline;
}
.world_icon:hover{
    cursor: pointer;
}
.search_icon:hover{
    cursor: pointer;
}
.btn-login{
    padding: 12px 32px 12px 32px;
    cursor: pointer;
    border: 1px solid #000;
    font-weight: 600;
    margin-left: 16px;
    margin-right: 16px;
}
.btn-sign-up{
    padding: 12px 32px 12px 32px;
    cursor: pointer;
    border: none;
    background: #007c89;
    color: #fff;
    font-weight: 600;
}
.search{
    margin-left: 16px;
}
.btn-sign-up:hover{
    background: #004e56;
}
.btn-login:hover{
    background:rgba(36,28,21,.1);
}
.header-section{
    display: flex;
    background: #ffe01b;
    height: 590px;
    align-items: center;
    justify-content: space-between;
    padding: 0 180px;
}
.section-heading{
    font-size: 52px;
    font-weight: 500;
    line-height: 48px;
}
.header-para{
    font-size: 24px;
    line-height: 32px;
    width: 382px;
}
.btn-header{
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}